<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h3 class="no-item" text-center *ngIf="loadItems().length===0">
    No items in the list!
  </h3>
  <ion-list>
    <ion-item-sliding  *ngFor="let item of loadItems(), let i = index">
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <p>{{item.quantity}}</p>
      </ion-item>
      <ion-item-options>
        <ion-button (click)="editItem(item, i)" color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-button>
        <ion-button (click)="removeItem(item, i)" color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

    
</ion-content>
